@model CharacterCreator.Models.AttributesViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <title>Attributes</title>
</head>
<body>
    <div>
        <h2>Decision 1 - Attributes</h2>
        @using (Html.BeginForm("Create", "Attributes", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        Agility
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Agility)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Awareness
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Awareness)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Coordination
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Coordination)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Intelligence
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Intelligence)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                    
                <tr>
                    <td>
                        Mental Strength
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Mental)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Personality
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Personality)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Physique
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Physique)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Strength
                        <input type="button" class="sub" id="sub" value="-" />
                        @Html.TextBoxFor(x => x.Strength)
                        <input type="button" class="add" id="add" value="+" />
                    </td>
                </tr>
            </table>

            <input type="submit" value="Next Decision" />
        }
        
    </div>
    <script type="text/javascript">
        $('.add').click(function () {
            if ($(this).prev().val() < 6) {
                $(this).prev().val(+$(this).prev().val() + 1);
            }
            
        });

        $('.sub').click(function () {
            if ($(this).next().val() > 4) {
                $(this).next().val(+$(this).next().val() - 1);
            }
        })
    </script>
</body>
</html>
